.Box {
	width: 500px;
	margin: 50px auto;
	text-align: center;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;

	&-Title {
		margin-bottom: 10px;
	}

	&-Image {
		position: relative;
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	&-Desctiption {
		line-height: 1.4;
		margin-top: 12px;
		text-align: justify;
		padding: 1rem;
		font-size: 16px;

		&_dark {
			background-color: #222;
			color: #fff;
		}

		&_light {
			background-color: #f3f3f3;
			color: #222;
		}

		&_lg {
			font-size: 24px;
		}

		&_md {
			font-size: 20px;
		}

		&_sm {
			font-size: 14px;
		}
	}

	&-Btn {
		cursor: pointer;
		font-weight: 700;
		margin: 16px;
		padding: 0.5rem 1rem;
	}
}