@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	max-width: 1140px;
	margin: 20px auto;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
	list-style: none;
}

button {
	border: 0;
	outline: 0;
	padding: 13px 23px;
	border-radius: 3px;
	margin: 20px;
	cursor: pointer;
	border: 2px darkcyan dotted;
}

button:disabled {
	cursor: no-drop;
}

input:focus {
	outline: none;
}

